<h1>My Data</h1>


  {{#each observations}}	
	<h3> {{title}} </h3>
	<p>Doctype: {{doctype}}</p>
	<p>Doclink: {{doclink}}</p>
	<p>Description: {{description}}</p>
	<p>Date: {{notedate}}</p>

  {{/each}}

