<h1>My Projects</h1>

  {{#each projects}}
    <h2>{{name}}</h2>
    <p>Location: {{location}}</p>
    <p>Instructions: {{instructions}}</p>
    <p>Announcements: {{current_announcements}}</p>
    <br>
    <br>
    <p>Educator: {{Educator.dataValues.username}}, {{Educator.dataValues.email}}</p>
    <p>
{{/each}}