
    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <h2>Projects</h2>
        </div>
        <div class="col-md-2">
          
        </div>
      </div> 
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover "> 
          <tbody>

          {{#each data}}
            <tr>
              <td class='col-md-2'> <a href="/notes/view/{{this.id}}"><img  src= "{{this.image_url}}"  height="200" width="200"></a></td>

              <td class='col-md-8'>
                    <div>
                    <h4><a href="/notes/view/{{this.id}}">{{this.name}} </a> </h4>
                    </div>
                    <div>{{this.tagLine}} </div>
                    <div>Details: {{this.Description}} </div>
              </td>

              <td class='col-md-2'>
                <form method="post" action="/student/join-project/{{this.id}}">
                    {{#unless this.match}}
                    <button  class="btn btn-success">Join this Project</button> 
                    {{/unless}}   
                </form>
              </td>
            </tr>
          {{/each}}

          </tbody>
        </table> 
      </div>
    </div>
 
    
  
  