<!-- notes\notesweather.handlebars -->
{{> nav/loggedinstudent}}   

  <form class="create-update-form" action="/notes/create/{{this.projectid}}/{{this.studentid}}" method="POST">
  <div class="form-group">
    <label for="inputNote">Enter Data</label>
    <input type="note" type="hidden" class="form-control" id="note" name="doclink" placeholder="Enter Data" value="Weather">
  </div>

 
    <input type="hidden"  name="doctype" value="sunglasses">
  </div>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="title" class="form-control" id="title" name="title"
  placeholder="Enter Title" value="Weather Report">
  </div>
   <div class="form-group">
    <label for="inputDesc">Description</label>
    <input type="description" class="form-control" id="description" name="description" value="{{this.weather}}">
  </div>
  <div class="form-group">
    <label for="inputnotedate">Enter Date</label>
    <input type="notedate" class="form-control" id="notedate"  name="notedate" placeholder="Enter Date" value={{this.date}}>
  </div>

 <input type="hidden" class="form-control" id="notedate"  name="ProjectId" value="{{this.projectid}}">
 <input type="hidden" class="form-control" id="notedate"  name="StudentId" value="{{this.studentid}}">
 <button type="submit" class="btn btn-default">Submit</button>
</form>

