<!-- notes\notes.handlebars -->

{{#if userEducator}}
    {{> nav/loggedineducator}}
{{else}}
    {{>nav/loggedinstudent}}
{{/if}}

   
<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Enter your observations <span class="member-name"></span></h2>
    </div>
    <br><br>
    <div class="col-md-10 col-md-offset-1">
       <a href="/notes/weather/{{this.projectid}}/{{this.studentid}}" method="GET" id='getweatherbtn' class="btn btn-success">Get Weather</a>
       <a href="/notes/fileupload/{{this.projectid}}/{{this.studentid}}" method="GET"  id="uploadbtn" class="btn btn-success">Upload a file</a>
    </div>
</div>
  
  <form class="create-update-form" action="/notes/create/{{this.projectid}}/{{this.studentid}}" method="POST">
  <br><br>
  
  <div class="row">
    <div class="form-group">
      <label for="inputNote" class="col-md-2 control-label align-right">Enter Data</label>
      <div class="col-md-8">     
        <input type="note" class="form-control" id="note" name="doclink" placeholder="Enter Data">
        </div>
      </div>
    </div>
  <div class="form-group">
      <div class="row">
        <label for="inpuNoteType" class="col-md-2 control-label align-right">Data Type: </label>
        <div class="col-lg-8">
          <input type="radio"  name="doctype" value="picture"> Image
          <input type="radio"  name="doctype" value="film"> Video
          <input type="radio"  name="doctype" value="file"> Document
          <input type="radio"  name="doctype" value="sunglasses"> Weather
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="inputTitle" class="col-md-2 control-label align-right">Title</label>
      <div class="col-lg-8">
        <input type="title" class="form-control" id="title" name="title" placeholder="Enter Title">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="inputDesc" class="col-md-2 control-label align-right">Description</label>
      <div class="col-lg-8">
        <input type="description" class="form-control" id="description" name="description" placeholder="Enter the description of your observation">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="inputnotedate" class="col-md-2 control-label align-right">Enter Date</label>
      <div class="col-lg-8">
        <input type="notedate" class="form-control" id="notedate"  name="notedate" placeholder="Enter the date of the observation in the format MM-DD-YYYY.">
      </div>
    </div>
  </div>


 <input type="hidden" class="form-control" id="notedate"  name="ProjectId" value="{{this.projectid}}">
 <input type="hidden" class="form-control" id="notedate"  name="StudentId" value="{{this.studentid}}">
  <div class="row col-md-2 control-label align-right">
    <button type="submit" class="btn btn-default">Submit</button>
    <br><br>
  </div>
</form>

