<!-- notes\show_notes_view.handlebars -->
  {{> nav/loggedinnavbar}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Field Notes</h3>

      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Contributor</th>
              <th>Link</th>
              <th>Title</th>
              <th>Description</th>
              <th>Entry Date</th>
               <th> </th>
            </tr>
          </thead>
          <tbody>
          {{#each data}}
             

              <tr>
              <td>{{this.Student.username}}</td>
              <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
              <td> {{this.title}}</td>
              <td> {{this.description}}</td>
              <td> {{this.newnotedate}}</td>
               <td> 
               {{#if this.showDeleteBtn}}
                 <form action="/notes/delete/{{this.id}}" method="GET">
                  
                     <button type="submit">Delete</button>
                   </form>
                  {{/if}}
                </td>
            </tr>
          {{/each}}

           <!--  <ul>
             {{#each cats}}
               {{#unless this.sleepy}}
                 <li>
                   {{this.name}}
           
                   <form action="/{{this.id}}?_method=PUT" method="POST">
                     <input type="hidden" name="sleepy" value="true">
                     <button type="submit">SLEEP TIME!</button>
                   </form>
                 </li>
               {{/unless}}
             {{/each}}
           </ul> -->
         
            
          </tbody>
        </table> 

      </div>
    </div>
 
    
  
  
