 
<form class="form-horizontal" class="create-update-form" action="/project/update/{{data.0.id}}?_method=PUT" method="POST">
        <fieldset>
          <legend>Update a Project<span class="member-name"></span></legend>
  
            <div class="form-group">
              <label for="inputTitle" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input class="form-control" name="name" id="title" placeholder="Name" type="text" type="title" value="{{data.0.name}}">
              </div>
            </div>
        
            <div class="form-group">
              <label for="inputDate" class="col-lg-2 control-label">Location</label>
              <div class="col-lg-10">
                <input class="form-control" id="" placeholder="Location" name="location" value="{{data.0.location}}" required>

              </div>
            </div>
            <div class="form-group">
    
              <label for="inpuNoteType" class="col-lg-2 control-label">Instructions</label>
              <div class="col-lg-10">
                <input id="noteType" name="instructions" class="form-control" placeholder="Instructions" type="noteType" value="{{data.0.instructions}}">
                
              </div>
            </div>

            <div class="form-group">

              <label for="inputNote" class="col-lg-2 control-label">Root Project</label>
              <div class="col-lg-10">
                <input class="form-control" type="note" name="root_project" type="text" id="rootproject" placeholder="Root Project" value="{{data.0.root_project}}">

              </div>
               </div>
              <div class="form-group">

              <label for="inputNote" class="col-lg-2 control-label">Announcements</label>
              <div class="col-lg-10">
                <input class="form-control" type="note" name="current_announcements" type="text" id="announcemets" value="{{data.0.current_announcements}}" placeholder="Current Announcements" >

              </div>
            </div>
            
            <!--div class="form-group">

              <label for="inputDesc" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" name="description" type="text" placeholder="Description" value="{{data.0.description}}" required></textarea>

                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">

              <label for="inputDesc" class="col-lg-2 control-label">Image URL</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" name="image_url" type="text" value="{{data.0.image_url}}" required></textarea>

                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">

              <label for="inputDesc" class="col-lg-2 control-label">Tag Line</label>
              <div class="col-lg-10">
                <input class="form-control" rows="3" name="tagline" type="text" value="{{data.0.tagLine}}" required></input>

                <span class="help-block"></span>
              </div-->

              <div class="form-group">
               <input type="hidden" class="form-control"  name="educator_id" type="text" value="{{data.0.educator_id}}"></input>
             
            </div>
            </div>
          <div >
          <button type="submit" class="btn btn-success">Submit</button>
          </div>
          </fieldset>
      </form>