<!-- projects\update_project.handlebars  -->


    {{> nav/loggedineducator}}

<br><br><br>

<form class="form-horizontal" class="create-update-form" action="/project/update/{{data.0.id}}?_method=PUT" method="POST">
        <fieldset>
                  
          <legend>Update a Project<span class="member-name"></span></legend>
  
            <div class="form-group">
              <label for="inputTitle" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-8">
                <input class="form-control" name="name" id="title" placeholder="Name" type="text" type="title" value="{{data.0.name}}">
              </div>
            </div>
        
            <div class="form-group">
              <label for="inputDate" class="col-lg-2 control-label">Location</label>
              <div class="col-lg-8">
                <input class="form-control" id="" placeholder="Location" name="location" value="{{data.0.location}}" required>

              </div>
            </div>

            <div class="form-group">
    
              <label for="inpuNoteType" class="col-lg-2 control-label">Instructions</label>
              <div class="col-lg-8">
                <textarea id="noteType" name="instructions" class="form-control" placeholder="Instructions" type="noteType">{{data.0.instructions}}</textarea>
              </div>
            </div>


              <div class="form-group">
                <label for="inputNote" class="col-lg-2 control-label">Announcements</label>
                <div class="col-lg-8">
                  <input class="form-control" name="current_announcements" type="text" id="announcemets" value="{{data.0.current_announcements}}" required>
              </div>

            </div>


            
            <div class="form-group">

              <label for="inputDesc" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-8">
                <textarea class="form-control" rows="3" name="description" id="description" type="noteType"  required>{{data.0.description}}"</textarea>
              </div>
            </div>


            <div class="form-group">

              <label for="inputDesc" class="col-lg-2 control-label">Tag Line</label>
              <div class="col-lg-8">
                <input class="form-control" rows="3" name="tagline" type="text" value="{{data.0.tagLine}}" required></input>

                <span class="help-block"></span>
              </div

              <div class="form-group">
               <input type="hidden" class="form-control"  name="educator_id" type="text" value="{{data.0.educator_id}}"></input>
            </div>
            </div>
          
          <div class="row col-md-2 control-label align-right">
            <button type="submit" class="btn btn-success">Submit</button>
            <br><br>
          </div>

          </fieldset>
      
      </form>