
<nav class="navbar navbar-default" id="fieldnotesnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="nav-header" href="#">Field Notes</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="notes-nav" data-toggle="dropdown" role="button" aria-expanded="true"><b>Sort by</b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/notes/view/username/ASC/{{this.id}}"><b>Contributer - Ascending</b></a></li>
            <li><a href="/notes/view/username/DESC/{{this.id}}"><b>Contributer - Descending</b></a></li>
            <li class="divider"></li>
            <li><a href="/notes/view/notedate/ASC/{{this.id}}"><b>Date - Ascending</b></a></li>
            <li><a href="/notes/view/notedate/DESC/{{this.id}}"><b>Date - Descending</b></a></li>
            <li class="divider"></li>
            <li><a href="/notes/view/doclink/DESC/{{this.id}}"><b>Document Type</b></a></li>
          </ul>
        </li>
        <li><a href="/studentmap.html?{{this.id}}" id="notes-nav2"><b>Class Map</b></a></li>
      </ul>
    </div>
  </div>
</nav>


