
<div class="container" >

            <div class="container">
              <div class="col-lg-12">
                <p><a href="/project/create/1/1" class="btn btn-success btn-lg">Create a New Project</a></p>
              </div>
            </div>
    

      <h1>My Class</h1>
        <div class="col-lg-12">
          <h3>Announcements</h3>
            <div class="form-group">        
                {{#each data}}
                 <div class="well well-lg">
                    <div class="row">
                      <div class="col-lg-4">
                        <a class="thumbnail" href="/notes/view/{{id}}">
                          <img class="img-responsive" src="{{image_url}}" alt="{{name}} project thumbnail" style="width:304px;height:228px">
                        </a>
                      </div>
                      <div class="col-lg-5 col-sm-offset-1">
                        <h4><b>{{name}}:</b></h4> <form action="/educator/update-announcement/{{id}}?_method=PUT" method="POST">
                          <textarea class="form-control" rows="4" name="announcement">{{current_announcements}}</textarea>
                          <br>
                          <h4><a href="/educator/my-students/{{id}}">View Students</a></h4> 
                          <button class="btn btn-success" type="submit">UPDATE</button>
                        </form>
                      </div>
                      <br>
                    </div>
                  </div>
                {{/each}} 
              </div>
            </div>
        </div>

        <div class="col-md-6">

          
        

          <br><br>
            
          </div>
    </div>
  
  

</div>



