
<!-- educators\educator-view.handlebars -->
{{> nav/loggedineducator}}
<h1></h1>
<div class="container"> 
<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <h2>My Projects</h2>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <a href="/project/create/1/1" class="btn btn-success btn-lg">Create a New Project</a>
    </div>
  </div>
</div>


<div class="col-md-12">
 <!--  <h3>Announcements</h3> -->
    <div class="form-group">        
        {{#each data}}
         <div class="well well-lg">
            <div class="row">
              <div class="col-lg-4">
                <a class="thumbnail" href="/notes/view/{{id}}">
                  <img class="img-responsive" src="{{image_url}}" alt="{{name}} project thumbnail" style="width:200px;height:200px">
                </a>
              </div>
              <div class="col-lg-5 col-sm-offset-1">
                <h4><b>{{name}}:</b></h4> <form action="/educator/update-announcement/{{id}}?_method=PUT" method="POST">
                  <textarea class="form-control" rows="3" name="announcement">{{current_announcements}}</textarea>
                  <br>
                  <button class="btn btn-success" type="submit">Update Announcement</button>
                  <a href="/notes/view/{{id}}" method="GET" class="btn btn-primary">View Field Notes</a>
                  <br><br>
                  <a href="/educator/my-students/{{id}}" method="GET" class="btn btn-primary">View Students</a>
                  <a href="/project/update/{{id}}" class="btn btn-success" method="GET">Update Project</a>
                 </form>
              </div>
            </div>
          </div>
        {{/each}} 
      </div>
    </div>
  </div>




