
<div class="container" >
    
      <h1>My Class</h1>
        <div class="col-md-6">
          <h3>Announcements</h3>
            <div class="form-group">
              <div class="well well-lg">
                <h4><b>Your Announcements</b></h4>
                {{#each data}}

                  <b>{{name}}:</b> <form action="/educator/update-announcement/{{id}}?_method=PUT" method="POST">
                    <textarea class="form-control" rows="2" name="announcement">{{current_announcements}}</textarea>
                    <br>
                    <button class="btn btn-success" type="submit">UPDATE</button>
                  </form>
                  <br>
                {{/each}}

              </div>
            </div>
        </div>

        <div class="col-md-6">

          <h3>Search for a Project </h3>
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class='sub' >
                  <a tabindex="-1" href="#">Project Name</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Astronomy</a></li>
                    <li><a href="#">Phenology</a></li>
                  </ul>
                </li>
                <li><a href="#">Location</a></li>
                <li><a href="#">User Name</a></li>
                <li><a href="#">Date</a></li>
                <li class="divider"></li>
                <li><a href="#all">All</a></li>
              </ul>
          </div>
            <input type="hidden" name="search_param" value="all" id="search_param">        
            <input type="text" class="form-control" name="x" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div> 
        

          <br><br>
            <div class="container">
              <div class="col-lg-12">
                <p><a href="/project/create/1/1" class="btn btn-success btn-lg">Create a New Project</a></p>
              </div>
            </div>
          </div>
    </div>
  
      <!-- Thumbnail Projects Display -->
    <div class="row">
        
        <div class="col-lg-12">
            <h1>Class Projects</h1>
        </div>
            
        {{#each data}}
            <div class="col-lg-2 col-md-3 col-xs-4 ">
        <h3>{{name}}</h3>
                <a class="thumbnail" href="/notes/view/{{id}}">
                    <img class="img-responsive" src="{{image_url}}" alt="{{name}} project thumbnail">
                </a>
        <h4><a href="/educator/my-students/{{id}}">View Students</a></h4>
            </div>
        {{/each}}
    </div>


</div>



